# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Prisma
server/prisma/*.db
server/prisma/*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
pgdata/

# TypeScript
*.tsbuildinfo

# Vite
client/dist/

#PEM
trackmyapp.pem